<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @battle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @battle.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @battle.creator %>
  
</p>
<p>
  <%= image_tag @battle.image.url(:medium) %>
</p>

<table>
  <tr>
    <th>Replies</th>
  </tr>
  <% @battle.posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= image_tag post.image.url(:thumb) %></td>
      <td><%= link_to "Remove", post_path(post), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>

    </tr>
  <% end %>
</table>

<%= link_to 'Add to the battle', new_battle_post_path(@battle) %>
<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
